header{
    font-size:larger;
    font-style: initial;
    text-transform: uppercase;
    color: black;
}

.Victor{
    margin: left;
}

.Adrian{
    
    margin-left: 50rem;
}

.Felipe{
    margin-left: 70rem;
}
