.contenedor {
  display: grid;
  gap: 5px;
  grid-template-columns: 60px 60px 60px 60px;
  background-color: #04AA6D;
  width: 260px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 2px 5px black;
}

.item1 {
    grid-column: 1 / 3;
}

.item16 {
  grid-column: 1/4;
}

.item15 {
  grid-column: 4 / 4;
  grid-row: 6/8;
}

.item17{
  grid-column: 1/5;
  resize: none;
  box-shadow: 3px 2px 5px black;
  border: none;
}

button {
  background-color: white;
  border: 0px;
  border-radius: 50px;
  box-shadow: 3px 2px 5px black;
  margin: 2px;
  cursor: pointer;
}

